# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Settings
*.vscode
*.json
__pycache__
*.DS_Store

#supercomputer output files
*.txt
*.err
Cpp/main
Cpp/Functioning2D/main

#large files i don't want to deal with right now
Cpp/Functioning2D/HP_unevolved/DetectedActivitypoint5.dat
Cpp/Functioning2D/HP_unevolved/StatesTrackpoint5.dat
Cpp/Functioning2D/TestBestonDifferentSolutions/Sven/StatesTrackpoint1.dat
Cpp/TricksterSpecifist4biastrack.dat
Cpp/TricksterSpecifist4biastracklong.dat
Cpp/Victor33biastrack.dat
Cpp/Victorgeneralist25biastrack.dat
Cpp/Wandageneralist25biastrack.dat
#memory error detection software
valgrind-3.24.0